@import "tailwindcss";
@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-left {
  animation: slideFromLeft 0.8s ease-out forwards;
}